* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, purple, pink );
    color: rgb(191, 128, 128);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}

header {
    font-size: 1.5rem;  
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input , form button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: aliceblue;
}
form button {
    color: brown;
    background: pink;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: rgb(166, 97, 231);

}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    list-style: none;
    min-width: 30%;
}

.todo {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    background: rgb(230, 170, 181) ;
    border: none;
    font-size: 1.5rem;
    transition:all 0.5s ease;
}

.todo li{
    flex:1 ;

}
.delete-btn, .check-btn{
    background: rgb(182, 102, 193);
    cursor: pointer;
    border: none;
    size: 0.5rem;
}
.check-btn{
    background: rgb(73,204,73);
}
.delete-btn:hover, .check-btn:hover{
    background: rgb(166, 97, 231);
}
.todo-item{
    padding: o.5rem;
}